{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dread-Pixel</title>
</head>
<body>

<main class="container1">
    <form method="post" action="{% url 'criar' %}">
        {% csrf_token %}

        <h1>Digite os dados</h1>
        <p>Todos os campos com <i>*</i> são obrigatórios</p>

        <div class="input_dados">

            <div class="campo">
                <strong>Nome *</strong>
                {{ form.name }}
            </div>

            <div class="campo">
                <strong>Telefone *</strong>
                {{ form.phone_number }}
            </div>

            <div class="campo">
                <strong>Endereço *</strong>
                {{ form.address }}
            </div>

            <div class="campo">
                <strong>E-mail *</strong>
                {{ form.email }}
            </div>

            <div class="campo">
                <strong>LinkedIn</strong>
                {{ form.linkedin }}
            </div>

            <div class="campo">
                <strong>GitHub</strong>
                {{ form.github }}
            </div>

            <div class="campo full">
                <strong>Objetivo *</strong>
                {{ form.objective }}
            </div>

            <div class="campo full">
                <strong>Resumo Profissional</strong>
                {{ form.resume_professional }}
            </div>

            <div class="campo full">
                <strong>Habilidades</strong>
                {{ form.ability }}
            </div>

            <div class="campo full">
                <strong>Cursos e Certificações</strong>
                {{ form.curse_certifications }}
            </div>

            <div class="campo full">
                <strong>Idiomas</strong>
                {{ form.Languages }}
            </div>
            <button type="submit">Criar</button>

            
            <a href="{% url 'index' %}">Voltar</a>

        </div>
    </form>
</main>

</body>
</html>