{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dread-Pixel</title>
</head>
<body>
     <main class="container1">
        
    <form method="post" action="{% url 'criar' %}">
        {% csrf_token %}

        <h1>Digite os dados</h1>
        <p>Todos os campos com <i>*</i> são obrigatórios</p>

        <div class="input_dados">

            <strong>Nome *</strong><br>
            {{ form.name }}<br>

            <strong>Telefone *</strong><br>
            {{ form.phone_number }}<br>

            <strong>Endereço *</strong><br>
            {{ form.address }}<br>

            <strong id="segundo_lado">E-mail *</strong><br>
            {{ form.email }}<br>

            <strong>LinkedIn</strong><br>
            {{ form.linkedin }}<br>

            <strong>GitHub</strong><br>
            {{ form.github }}<br>

            <strong>Objetivo *</strong><br>
            {{ form.objective }}<br><br>

            <strong>Resumo Profissional</strong><br>
            {{ form.resume_professional }}<br><br>

            <strong>Habilidades</strong><br>
            {{ form.ability }}<br><br>

            <strong>Cursos e Certificações</strong><br>
            {{ form.curse_certifications }}<br><br>

            <strong>Idiomas</strong><br>
            {{ form.Languages }}<br><br>

            <a href="{% url 'index' %}">Voltar</a>
            <button type="submit">Criar</button>

        </div>
    </form>
    </main>
</body>
</html>