{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dread-Pixel</title>
</head>
<body>
     <main class="container1">
        <form method="post" action="{% url 'create'%}">
            {% csrf_token %}
            <h1>Digite os dados</h1>
                <p>Todos os campos que estiver com o <i>simbolo *</i> são obrigatios</p>
                <div class="input_dados">

                    <strong>Digite seu primeiro nome *</strong><br>
                    {{form.first_name}}
                    <strong>Digite seu sobrenome *</strong><br>
                    {{form.last_name}}
                    <input type="text" name="endereco" placeholder="Endereço"><br>

                    <b>Telefone *</b>
                    <b id="segundo_lado">E-mail</b><br>
                    <input type="number" placeholder="Numero">
                    <input type="email" placeholder="E-mail"><br><br>    
                    
                    <strong>Experiencia Proficional </strong>
                    <strong id="datalocation">Data de inicio / fim *</strong><br>

                    <input type="text" placeholder="Nome da empresa">
                    <input id="caixa_m" type="date" placeholder="ex:01/01/21">
                    <input id="caixa_m" type="date" placeholder="ex:01/01/21"> <br> <br>

                    <strong>Experiencia Proficional </strong>
                    <strong id="datalocation">Data de inicio / fim </strong><br>

                    <input type="text" placeholder="Nome da empresa">
                    <input id="caixa_m" type="date" placeholder="ex:01/01/21">
                    <input id="caixa_m" type="date" placeholder="ex:01/01/21"> <br><br>

                    <strong>Experiencia Proficional </strong>
                    <strong id="datalocation">Data de inicio / fim </strong><br>

                    <input type="text" placeholder="Nome da empresa">
                    <input id="caixa_m" type="date" placeholder="ex:01/01/21">
                    <input id="caixa_m" type="date" placeholder="ex:01/01/21"> <br> <br>

                    <strong>Educação</strong><br>
                    <textarea class="caixa_longa" type="text"></textarea> <br><br>

                    <strong>Objetivo</strong><br>
                    <textarea class="caixa_longa" type="text"></textarea> <br><br>


                    <button><a href="index.html">Voltar</a></button>
                    <button><a href="curriculo.html">Proximo</a></button>
                    
                </div>
        </form>

    </main>
</body>
</html>