{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dread-Pixel</title>
</head>
<body>
     <main class="container1">
        
    <form method="post" action="{% url 'criar' %}">
        {% csrf_token %}

        <h1>Digite os dados</h1>
        <p>Todos os campos com <i>*</i> são obrigatórios</p>
        <div class="input_dados">

            <strong>Nome *</strong>
            <strong id="segundo_ladoT">Telefone *</strong><br>
            {{ form.name }}
            {{ form.phone_number }}<br><br>

            <strong >Endereço *</strong>
            <strong id="segundo_ladoE">E-mail *</strong><br>
            {{ form.address }}
            {{ form.email }}<br><br>

            <strong>LinkedIn</strong>
            <strong id="segundo_ladoG">GitHub</strong><br>
            {{ form.linkedin }}
            {{ form.github }}<br><br>

            <strong id="text_area">Objetivo *</strong>
            <strong id="segundo_ladoE">Resumo Profissional</strong><br>
            {{ form.objective }}
            {{ form.resume_professional }}<br><br>

            <strong id="text_area">Habilidades</strong>
            <strong id="segundo_ladoE">Cursos e Certificações</strong><br>
            {{ form.ability }}
            {{ form.curse_certifications }}<br><br>

            <strong id="text_area">Idiomas</strong><br>
            {{ form.Languages }}<br><br>

            <a href="{% url 'index' %}">Voltar</a>
            <button type="submit">Criar</button>

        </div>
    </form>
    </main>
</body>
</html>