<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dread-Pixel</title>
</head>
<body>
    <h1>ola mumdo</h1>
    <h2>cria a tela para mostra o curriculo aqui</h2>
    <h3>{{c.name}}</h3>
    <h3>{{c.email}}</h3>
    <h3>{{c.github}}</h3>
    <h3>{{c.phone_number}}</h3>
    <h3>{{c.address}}</h3>
    <h3>{{c.ability}}</h3>
    <h3>{{c.LinkedIn}}</h3>
    <h3>{{c.Languages}}</h3>
    
    
</body>
</html>