{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <title>Dread-Pixel</title>
</head>
<body>
    {% if c %}
        <h1>{{ c.name }}</h1>
        <h1>{{ c.phone_number }}</h1>
        {% if not c.id%}
            <form method="post" action="{% url 'salvar' %}">
                {% csrf_token %}
                <button type="submit">salvar</button>
            </form>
        {% else%}
            <a href="{% url 'gerar_pdf' c.id %}">
                <button>Baixar Currículo em PDF</button>
            </a>
        {% endif%}
    {%else%}

        <h1>Nenhum currículo encontrado.</h1>
    {% endif%}
    {% if c%}
        <div>
            <a href="{% url 'index' %}">volta</a>
        </div>
    {%else%}
    {% endif%}
</body>
</html>