{% load static %}
<!-- colocar pagina inicial aqui aqui--><!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5f0fdddcdd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dread-Pixel</title>
</head>
<body>
    <main class="container">
        <form method="get"  action="{% url 'search' %}">
            <h1>Busque ou crie seu Currículo</h1>
                <div class="input-box">
                    <input  name="name" type="text" placeholder="Digite seu nome" value="" >
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <button id="btngerar" type="submit" >Buscar seu currículo</button>

        </form>
        <a href="{% url 'create'%}">Cria seu curriculo</a>

    </main>
</body>
</html>