{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum | Miguel Oliveira</title>
    <!-- Link para o arquivo CSS externo -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <main class="container">
        <!-- Cabeçalho de Contato -->
        <header class="header">
            <h1 class="name">{{c.name}}</h1> 
            <ul class="contact-info">
                <li><strong>Endereço:</strong> {{c.address}}</li>
                <li><strong>Telefone:</strong> {{c.phone_number}}</li>
                <li><strong>E-mail:</strong> {{c.email}}</li>
                <li><strong>LinkedIn: </strong>{{c.linkedin}}</li>
                <li><strong>GitHub: </strong>{{c.github}}</li>
            </ul>
        </header>

        <!-- Resumo Profissional -->
        <section class="section">  
            <h3 class="section-title">Objetivo</h3>
            <p>{{c.objective}}</p>
        </section>

        
        <section class="section">
            <h3 class="section-title">Educação</h3>
            <div class="education-item">
                <ul class="education-item">
                    {% for item in educacao_lista %}
                    {% if item %}
                <li class="item-title">{{ item }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                
            </div>
        </section>

        <section class="section">
            <h3 class="section-title">Habilidades</h3>
            <ul class="skills-list">
                {% for item in habilidades_lista %}
                {% if item %}
            <li>{{ item }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </section>  

        <!-- Experiência Profissional -->
        <section class="section">
            <h3 class="section-title">Experiência Profissional</h3>
            <ul class="experience-item">
                {% for item in experiencia_lista %}
                    {% if item %}
                    <li class="job-exp">{{ item }}</li>
                        {% endif %}
                    {% endfor %}
            </ul> 
           
                
            </article>

        </section>
        
        
    </main>
</body>
</html>